.kotak1 {
    height: 100px;
    width: 100px;
    padding: 10px;
    background-color: slateblue;
    margin-right: 10px;
    text-align: center;
    float: left;
}

.kotak2 {
    height: 100px;
    width: 100px;
    padding: 10px;
    background-color: salmon;
    margin-right: 10px;
    text-align: center;
    float: left;
}

.kotak3 {
    height: 100px;
    width: 100px;
    padding: 10px;
    background-color: hotpink;
    margin-right: 10px;
    text-align: center;
    float: left;
}

.kotak4 {
    height: 100px;
    width: 100px;
    padding: 10px;
    background-color: aqua;
    margin-right: 10px;
    text-align: center;
    float: left;
}

.kotak5 {
    height: 100px;
    width: 100px;
    padding: 10px;
    background-color: gold;
    text-align: center;
    float: left;
}